[project]
name = "intelligent-hotel-retention-agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "langgraph-checkpoint-sqlite>=3.0.3",
]
